<div class="container-fluid">
  <div class="row">
    <div class=" col-md-12">
           <nav class="navbar navbar-default">
               <div class="container-fluid">
                 
                 <div class="navbar-header">
                   <a class="navbar-brand" href="#">Rapido HR</a>
                 </div>
                 <ul class="nav justify-content-end">
                     
                     <li class="nav-item active">
                       <a class="nav-link" href="#"><span class="user-profile"><i class="fa fa-user"></i></span>User Name</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#">Logout</a>
                     </li>
                     
                   </ul>
                 </div>
                 <h2 class="primary-name">KankaMahaLakshmi  Co-Op Bank Ltd</h2>
               
             </nav>
           </div>
         </div>

<div class="row">
  <div class="col-md-12 side-bar-nav">
      <nav class="navbar side-nav-bar navbar-expand-sm">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon">---</span>
            </button>                     
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              >Employee</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li> <a  routerLink="/employee" routerLinkActive="active-link">Registration</a> </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/payroll">Employee Payroll</a>
            </li>
            <li class="nav-item  dropdown">
                <a class="nav-link  dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                 >
                  Employee Payroll Report</a>
                  <ul class="dropdown-menu report" aria-labelledby="dropdownMenuButton1">
                      <li> 
                        <a  routerLink="/payrollreports" routerLinkActive="active-link">Regular Employee Report</a> </li>
                        <li> 
                            <a  routerLink="/payrollreports" routerLinkActive="active-link" >Contract Employee Report</a> </li>
                    </ul>
              </li>
          </ul>
        </nav>       
       
  </div> 
  </div>
<form action="" class="form-inline text-right">
  <div class="form-group">
<input type="search" class="form-control" placeholder="Enter empcode" #search>
</div>
<button type="button" class="btn btn-primary" (click)="getEmpPayroll(search.value)">Search</button>
</form>
<hr />
<div class="col-md-8 offset-md-2">
<form action="" class="payroll-form hr-form" #payrollForm="ngForm" (ngSubmit)="onSubmit(payrollForm)"> 
  <h2>Employee Payroll</h2> 
  <div class="row">
  <input  type="hidden" name="EmpPRID" #EmpPRID="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.EmpPRID">
  <input  type="hidden" name="EmpID" #EmpID="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.EmpID">
  
  <div class="form-group col-md-4">
    <label>Basic</label>
    <input  class="form-control" name="basic" #basic="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.basic"  required>
 
  </div>
  <div class="form-group col-md-4">
    <label>DA</label>
    <input  class="form-control" name="DA" #DA="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.DA" required>
    
  </div> 
  <div class="form-group col-md-4">
    <label>HRA </label>
      <input  class="form-control" name="HRA" #HRA="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.HRA" required>
      <!-- <div class="validation-error" *ngIf="HRA.invalid && HRA.touched">The field is required</div> -->
    </div> 

  
  <div class="form-group col-md-4">
    <label>Conveyance</label>
    <input  class="form-control" name="conveyance" #conveyance="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.conveyance"  required>
    <!-- <div class="validation-error" *ngIf="conveyance.invalid && conveyance.touched">The field is required</div> -->
  </div>
  <div class="form-group col-md-4">
    <label>Adhoc allow</label>
    <input  class="form-control" name="Adhoc_allow" #Adhoc_allow="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Adhoc_allow" required>
    <!-- <div class="validation-error" *ngIf="Adhoc_allow.invalid && Adhoc_allow.touched">The field is required</div> -->
  </div>  


  
    <div class="form-group col-md-4">
        <label>PF bank by bank</label>
        <input  class="form-control" name="PF_by_bank" #PF_by_bank="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.PF_by_bank"  required>
        <!-- <div class="validation-error" *ngIf="PF_bank_by_banj.invalid && PF_bank_by_banj.touched">The field is required</div> -->
      </div>
  <div class="form-group col-md-4">
    <label>PF by emp</label>
    <input  class="form-control" name="PF_by_emp" #PF_by_emp="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.PF_by_emp" required>
    <!-- <div class="validation-error" *ngIf="PF_by_emp.invalid && PF_by_emp.touched">The field is required</div> -->
  </div>
  <div class="form-group col-md-4">
    <label> Professional tax</label>
    <input  class="form-control" name="Professional_tax" #Professional_tax="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Professional_tax" required>
    <!-- <div class="validation-error" *ngIf="Professional_tax.invalid && Professional_tax.touched">The field is required</div> -->
  </div>  

  
    <div class="form-group col-md-4">
      <label> Festival advance</label>
        <input  class="form-control" name="Festival_advance" #Festival_advance="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Festival_advance" required>
        <!-- <div class="validation-error" *ngIf="Festival_advance.invalid && Festival_advance.touched">The field is required</div> -->
      </div>
  <div class="form-group col-md-4">
      <div>
      <label> HG Insurance </label>
      <div  class="form-check">
      <input  type="checkbox" class="form-check-input" name="HG_Insurance" #HG_Insurance="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.HG_Insurance"> 
    </div>
  </div>
    </div>
      <div class="form-group col-md-4">
        <div>
          <label> LIC </label>
          <div  class="form-check">
      <input  type="checkbox" class="form-check-input" name="LIC" #LIC="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.LIC" >
    </div>
  </div>
    </div>
  <div class="form-group col-md-4">
      <label>Net Pay</label>
    <input  class="form-control" name="Net_Pay" #Net_Pay="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Net_Pay"  required>
    
  </div>  



  <div class="form-group col-md-12 text-right">
    <button type="submit" [disabled]="!payrollForm.valid" class="btn btn-primary" ><i class="fa fa-floppy-o"></i> Submit</button>
    <button type="button" class="btn btn-secondary" (click) = "resetForm(payrollForm)" ><i class="fa fa-repeat"></i> Reset</button>
  </div>
  
</div>
</form>

</div>
<div class="row">
  <div class="col-md-12">
      <router-outlet></router-outlet>
  </div>

</div>
<footer>
&copy; 2018 RapidoERP
</footer>
</div> 

