
<form action="" class="form-inline text-right">
  <div class="form-group">
<input type="search" class="form-control" placeholder="Enter empcode" #search>
</div>
<button type="button" class="btn btn-primary" (click)="getEmpPayroll(search.value)">Search</button>
</form>
<hr />
<div class="col-md-8 offset-md-2">
<form action="" class="payroll-form hr-form" #payrollForm="ngForm" (ngSubmit)="onSubmit(payrollForm)"> 
  <h2>Employee Payroll</h2> 
  <div class="row">
  <input  type="hidden" name="EmpPRID" #EmpPRID="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.EmpPRID">
  <input  type="hidden" name="EmpID" #EmpID="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.EmpID">
  
  <div class="form-group col-md-4">
    <label>Basic</label>
    <input  class="form-control" name="basic" #basic="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.basic"  required>
 
  </div>
  <div class="form-group col-md-4">
    <label>DA</label>
    <input  class="form-control" name="DA" #DA="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.DA" required>
    
  </div> 
  <div class="form-group col-md-4">
    <label>HRA </label>
      <input  class="form-control" name="HRA" #HRA="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.HRA" required>
      <!-- <div class="validation-error" *ngIf="HRA.invalid && HRA.touched">The field is required</div> -->
    </div> 

  
  <div class="form-group col-md-4">
    <label>Conveyance</label>
    <input  class="form-control" name="conveyance" #conveyance="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.conveyance"  required>
    <!-- <div class="validation-error" *ngIf="conveyance.invalid && conveyance.touched">The field is required</div> -->
  </div>
  <div class="form-group col-md-4">
    <label>Adhoc allow</label>
    <input  class="form-control" name="Adhoc_allow" #Adhoc_allow="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Adhoc_allow" required>
    <!-- <div class="validation-error" *ngIf="Adhoc_allow.invalid && Adhoc_allow.touched">The field is required</div> -->
  </div>  


  
    <div class="form-group col-md-4">
        <label>PF bank by bank</label>
        <input  class="form-control" name="PF_by_bank" #PF_by_bank="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.PF_by_bank"  required>
        <!-- <div class="validation-error" *ngIf="PF_bank_by_banj.invalid && PF_bank_by_banj.touched">The field is required</div> -->
      </div>
  <div class="form-group col-md-4">
    <label>PF by emp</label>
    <input  class="form-control" name="PF_by_emp" #PF_by_emp="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.PF_by_emp" required>
    <!-- <div class="validation-error" *ngIf="PF_by_emp.invalid && PF_by_emp.touched">The field is required</div> -->
  </div>
  <div class="form-group col-md-4">
    <label> Professional tax</label>
    <input  class="form-control" name="Professional_tax" #Professional_tax="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Professional_tax" required>
    <!-- <div class="validation-error" *ngIf="Professional_tax.invalid && Professional_tax.touched">The field is required</div> -->
  </div>  

  
    <div class="form-group col-md-4">
      <label> Festival advance</label>
        <input  class="form-control" name="Festival_advance" #Festival_advance="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Festival_advance" required>
        <!-- <div class="validation-error" *ngIf="Festival_advance.invalid && Festival_advance.touched">The field is required</div> -->
      </div>
  <div class="form-group col-md-4">
      <div>
      <label> HG Insurance </label>
      <div  class="form-check">
      <input  type="checkbox" class="form-check-input" name="HG_Insurance" #HG_Insurance="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.HG_Insurance"> 
    </div>
  </div>
    </div>
      <div class="form-group col-md-4">
        <div>
          <label> LIC </label>
          <div  class="form-check">
      <input  type="checkbox" class="form-check-input" name="LIC" #LIC="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.LIC" >
    </div>
  </div>
    </div>
  <div class="form-group col-md-4">
      <label>Net Pay</label>
    <input  class="form-control" name="Net_Pay" #Net_Pay="ngModel" [(ngModel)]="payrollService.selectedEmpPayroll.Net_Pay"  required>
    
  </div>  



  <div class="form-group col-md-12 text-right">
    <button type="submit" [disabled]="!payrollForm.valid" class="btn btn-primary" ><i class="fa fa-floppy-o"></i> Submit</button>
    <button type="button" class="btn btn-secondary" (click) = "resetForm(payrollForm)" ><i class="fa fa-repeat"></i> Reset</button>
  </div>
  
</div>
</form>

</div>

