<div class="container-fluid login-container">
  <div class="row">
    <div class=" col-md-12">
           <nav class="navbar navbar-default">
               <div class="container-fluid">
                 
                 <div class="navbar-header">
                   <a class="navbar-brand" href="#">Rapido HR</a>
                 </div>               
                 </div>
                 <h2 class="primary-name">KankaMahaLakshmi  Co-Op Bank Ltd</h2>
               
             </nav>
           </div>
         </div>
       
<div class="container" >
    <div class= "login">
        <div class="login-box">
        <div class="login-wrapper">
            <div class="login-box-inner">
  <h2>
      Welcome
  </h2>
  <div class="panel-body">
      
          <div class="form-group">
                <label for="email" >Email</label>
                <div >
              <input [(ngModel)]="user.email" id="email" 
                  type="email" class="validate form-control">
                </div>
          </div>
      

      
          <div class="form-group">
                <label for="password">Password</label>
              <input [(ngModel)]="user.password" id="password" 
                  type="password" class="validate  form-control">
              
          </div>
     

      <span class="text-danger erro-msg">{{errorMsg}}</span>
      <button (click)="login()" 
          class="btn btn-primary btn-block" 
          type="submit" name="action">Login</button>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>