<div style="text-align: center">
  <h2 class="jumbotron bg-secondary text-white"> Rapido HR </h2>
  <div class="row">
    <div class="col-md-6">
      <app-employee></app-employee>
    </div>
    <div class="col-md-6">
      <app-employee-list></app-employee-list>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <app-emp-payroll></app-emp-payroll>
      </div>      
    </div>
    <div class="row">
        <div class="col-md-6">
          <app-emp-payroll-reports></app-emp-payroll-reports>
        </div>      
      </div>
</div>
